{% extends 'base.html'%}

{% block repo %}
        <div style="display:inline;">
            <div class="modal-body" >
                <div id="filtro" class="form-group" style="display:inline;">
                    <label>Pesquisa:</label>
                    <input name="pesquisa" type="search">
                    <label>Data inicial:</label>
                    <input type="date" name="data_ini" min="2000-01-02">
                    <label>Data final:</label>
                    <input type="date" name="data_fin" min="2000-01-02">
                    <select class="form-control select2" style="width: 100px ">
                      <option selected="selected">Crescente</option>
                      <option>decrescente</option>
                    </select>
                  </div>

                  <div>
                    <table class="tabela">
                      <tr class="titulos">
                        <th>ID</th>
                        <th id="nome">Professor</th>
                        <th id="falta">Periododa da Falta</th>
                        <th>Data Reposição</th>
                        <th>Situação</th>
                      </tr>
                      <tr>
                        <td>0000001</td>
                        <div class="box-body">
                            <td data-toggle="modal" data-target="#reposicaoModal"><a href="#">Adamastor</td>
                            <div class="modal fade" id="reposicaoModal" tabindex="-1" role="dialog" aria-labelledby="reposicaoModalLabel">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="reposicaoModalLabel">REPOSIÇÃO</h4>
                                    </div>
                                    <div class="modal-body" >
                                      <div class="row" style="display:inline-block; width: 300px;">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Turma</label>
                                            <select class="form-control select2" style="width: 100%;">
                                              <option selected="selected">INTIN</option>
                                              <option>INTED</option>
                                              <option>INTEL</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="display:inline-block; width: 300px;">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Periodo</label>
                                              <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      <div class="row" style="display:inline-block; width: 300px;">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Motivo</label>
                                              <input name="motivo" type="text" required>*(Obrigatório)
                                            </div>
                                          </div>
                                        </div>
                                    <div style="text-align: left">
                                    <label>Justificativa</label>
                                      <textarea class="form-control" rows="3"></textarea>
                                      <input type="file" name="file">
                                    </div>
                                    <div class="form-group">
                                    <label>Data da falta inicial:</label>
                                      <input type="date" name="bday" min="2000-01-02">
                                    <label>Data da falta final:</label>
                                      <input type="date" name="bday" min="2000-01-02">
                                    </div>
                                    <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Componente Curricular </label>
                                                <input name="motivo" type="text" required>*(Obrigatório)
                                            </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                    <div>
                                      <label>Data da aula:</label>
                                        <input type="date" name="bday" min="2000-01-02">
                                      <label>Hora:</label>
                                        <input type="time" name="horare" value="00:00" >
                                    </div>
                                    <div>
                                      <label>Data da reposição:</label>
                                        <input type="date" name="bday" min="2000-01-02">
                                      <label>Hora:</label>
                                        <input type="time" name="horaau" value="00:00" >
                                    </div>
                                    </div>
                                    <div style="text-align: left">
                                    <label>Descrição da aula</label>
                                      <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#negarModal" style="margin: 0px 0px;">
                                        <spam style="color: #FFF;">Negar <spam>
                                      </button>
                                      <div class="modal fade" id="negarModal" tabindex="-1" role="dialog" aria-labelledby="negarModalLabel">
                                          <div class="modal-dialog" role="document">
                                              <div class="modal-header">
                                              </div>
                                              <div class="modal-body">
                                                <label>Motivo da recusa</label>
                                                  <textarea class="form-control" rows="7">Motivo da recusa</textarea>
                                                  <button type="button" class="btn btn-primary" >
                                                    <spam style="color: #FFF;">Enviar<spam>
                                                  </button>
                                              </div>
                                            </div>
                                          </div>
                                      <button type="button" class="btn btn-primary" >
                                        <spam style="color: #FFF;">Aceitar<spam>
                                      </button>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <td>dd/mm/aaaa - dd/mm/aaaa</td>
                            <td>dd/mm/aaaa</td>
                            <td>Em andamento</td>

                      </tr>
                    </table>
                  </div>
            </div>
          </div>

{% endblock %}
